/* kosugi-maru-regular - japanese_latin */
@font-face {
    font-family: 'Kosugi Maru';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/kosugi-maru-v6-japanese_latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Kosugi Maru'), local('KosugiMaru-Regular'),
        url('./fonts/kosugi-maru-v6-japanese_latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/kosugi-maru-v6-japanese_latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/kosugi-maru-v6-japanese_latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/kosugi-maru-v6-japanese_latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/kosugi-maru-v6-japanese_latin-regular.svg#KosugiMaru') format('svg');
    /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('./fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/roboto-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/roboto-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/roboto-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* source-sans-pro-regular - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/source-sans-pro-v13-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
        url('./fonts/source-sans-pro-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/source-sans-pro-v13-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/source-sans-pro-v13-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/source-sans-pro-v13-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/source-sans-pro-v13-latin-regular.svg#SourceSansPro') format('svg');
    /* Legacy iOS */
}

.box {
    float: right;
    width: 30px;
    height: 25px;
    margin: 5px;
    padding: 5px;
    border: 3px solid yellow;
    background-color: yellow;
}

.spacer {
    height: 50px;
}

.japanese {
    position: relative;
    bottom: 20px;
    font-family: 'Kosugi Maru';
    font-size: 27px;
    line-height: 10px;
    user-select: none;
    text-align: center;
}

.container {
    width: 110px;
    height: 50px;
    overflow: hidden;
}

.row {
    height: 10%;
    overflow: hidden;
    float: left;
    margin-left: 20px;
    background-color: darkblue;
}

.question {
    float: left;
    font-size: 35px;
    font-family: 'Source Sans Pro';
    user-select: none;
    color: white;
}

.answer {
    float: right;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    position: relative;
    top: 5%;
    left: 0%;
    font-family: 'Roboto';
    font-size: 25px;
    overflow: hidden;
    user-select: none;
}

#header {
    text-align: center;
    font-family: 'Roboto';
}

#answers {
    display: inline-grid;
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    grid-template-rows: 30px 30px 30px 30px;
    row-gap: 5px;
    column-gap: 5px;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin: auto;
    padding-top: 30px;
}

#timer {
    text-align: center;
    user-select: none;
}

#count {
    position: relative;
    left: 1%;
    font-family: 'Roboto';
    font-size: 30px;
    color: green;
}

#reset {
    position: relative;
    left: 2%;
    user-select: none;
}

#finished {
    font-family: 'Kosugi Maru';
    font-size: 50px;
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 25%
    }

    100% {
        background-position: 0% 50%
    }
}